<h1>TicTacToe</h1>

<br><br>

<h2>Signup</h2>
<form action="/signup" method="post">
  Name<input type="text" name="player[name]" required><br>
  Password<input type="password" name="player[password]" required><br>
  Password Confirmation<input type="password" name="player[password]" required><br>
  <input type="submit" value="Submit">
</form>


<br><br>

<h2>Login</h2>
<form action="/login" method="post">
  Name<input type="text" name="player[name]" required><br>
  Password<input type="password" name="player[password]" required><br>
  <input type="submit" value="Submit"><br>
</form>
